@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

:root {
  --dark-blue: hsl(233, 26%, 24%);
  --lime: hsl(136, 65%, 51%);
  --cyan: hsl(192, 70%, 51%);
  --blue: hsl(233, 8%, 62%);
  --light-blue: hsl(220, 16%, 96%);
  --gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
  color: var(--dark-blue);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
}

nav {
  width: 100%;
  background-color: var(--white);
  position: fixed;
  top: 0;
  z-index: 1000;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-items {
  display: flex;
  align-items: center;
}

.nav-item {
  margin-right: 20px;
  list-style: none;
}
.nav-item:last-child {
  margin-right: 0;
}

.nav-link {
  text-decoration: none;
  color: var(--blue);
  font-size: 0.9rem;
  transition: all 0.3s ease;
}

.nav-link:hover {
  color: var(--dark-blue);
  padding-bottom: 10px;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-image: linear-gradient(90deg, var(--lime) 0%, var(--cyan) 100%) 1;
}

.nav-btn {
  color: var(--white);
  background: linear-gradient(90deg, var(--lime) 0%, var(--cyan) 100%);
  border: none;
  padding: 10px 20px;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-btn:hover {
  opacity: 0.6;
}

.mobile-nav {
  display: none;
}

@media screen and (max-width: 650px) {
  .mobile-nav {
    display: initial;
  }
  .close {
    display: none;
  }
  .burger.open {
    display: none;
  }
  .close.open {
    display: block;
  }
  .nav-items {
    background-color: var(--white);
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    position: absolute;
    top: 15vh;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
  }
  .nav-items.open {
    visibility: initial;
    opacity: 1;
  }
  .nav-item {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .nav-item:last-child {
    margin-bottom: 0;
  }
  .nav-link {
    color: var(--dark-blue);
    font-size: 1rem;
  }
  .nav-btn {
    display: none;
  }
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.hero {
  min-height: 100vh;
  overflow: hidden;
  background-image: url("./images/bg-intro-desktop.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 700px;
}

.hero-flex {
  display: flex;
  align-items: center;
}

.hero-text,
.hero-img {
  flex: 1 1 0;
  min-height: auto;
}

.hero-text {
  margin-right: 50px;
}

.hero-heading {
  font-size: 4rem;
  font-weight: lighter;
  margin-bottom: 30px;
}

.hero-desc {
  color: var(--blue);
  line-height: 1.8rem;
  font-weight: lighter;
  margin-bottom: 30px;
}

.hero-img-mockup {
  width: 120%;
  transform: translateX(150px) translateY(-50px) scale(1.3);
}

@media screen and (max-width: 1300px) {
  .hero {
    background-position-x: 600px;
  }
  .hero-img-mockup {
    width: 100%;
    transform: scale(1.2) translateX(150px);
  }
}

@media screen and (max-width: 1030px) {
  .hero {
    background-position-x: 450px;
  }
  .hero-img-mockup {
    width: 100%;
    transform: scale(1.2) translateX(100px);
  }
  .hero-heading {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 889px) {
  .hero-text {
    padding-top: 100px;
  }
}

@media screen and (max-width: 790px) {
  .hero {
    background-position-x: 250px;
  }
  .hero-img-mockup {
    transform: scale(1.2) translateX(50px);
  }
  .hero-heading {
    font-size: 3rem;
    width: 90%;
  }
}

@media screen and (max-width: 650px) {
  .display {
    display: block;
    margin: 0 auto;
  }
}

@media screen and (max-width: 592px) {
  .hero-img-mockup {
    transform: scale(1.5) translateX(50px);
  }
}

@media screen and (max-width: 498px) {
  .hero {
    background-image: url("./images/bg-intro-mobile.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
  }
  .hero-flex {
    flex-direction: column-reverse;
  }
  .hero-img-mockup {
    transform: translateX(0px) translateY(-50px) scale(1);
  }
  .hero-text {
    padding-top: 20px;
    text-align: center;
    margin-right: 0;
  }
  .hero-heading {
    width: 100%;
  }
}

.why {
  background-color: var(--light-blue);
}

.why-heading {
  font-size: 2.5rem;
  font-weight: lighter;
  margin-bottom: 30px;
}

.why-desc {
  max-width: 65%;
  width: 100%;
}

.why-grid {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.why-img {
  margin-bottom: 30px;
}

.why-subheading {
  font-weight: lighter;
  margin-bottom: 20px;
}

.reason-desc {
  font-size: 1rem;
}

@media screen and (max-width: 794px) {
  .why-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .why-desc {
    max-width: initial;
  }
}

@media screen and (max-width: 498px) {
  .why-heading {
    text-align: center;
  }
  .why-desc {
    text-align: center;
  }
  .why-grid {
    grid-template-columns: 1fr;
  }
  .why-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .why-subheading {
    text-align: center;
  }
  .reason-desc {
    text-align: center;
  }
}

.blog {
  background-color: var(--gray);
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}

.blog-img {
  width: 100%;
  overflow: hidden;
  height: 200px;
  margin-bottom: 10px;
}

.text-wrapper {
  padding: 20px;
}

.author {
  font-size: 0.7rem;
  color: var(--blue);
  font-weight: lighter;
  margin-bottom: 15px;
}

.blog-title {
  font-weight: lighter;
  font-size: 1.1rem;
  color: var(--dark-blue);
  margin-bottom: 10px;
}

.blog-desc {
  font-size: 0.9rem;
  color: var(--blue);
  font-weight: lighter;
}

@media screen and (max-width: 888px) {
  .blog-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 522px) {
  .blog-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
