@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

:root {
  --dark-blue: hsl(233, 26%, 24%);
  --lime: hsl(136, 65%, 51%);
  --cyan: hsl(192, 70%, 51%);
  --blue: hsl(233, 8%, 62%);
  --light-blue: hsl(220, 16%, 96%);
  --gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
  color: var(--dark-blue);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
}

nav {
  width: 100%;
  background-color: var(--white);
  position: fixed;
  top: 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-items {
  display: flex;
  align-items: center;
}

.nav-item {
  margin-right: 20px;
  list-style: none;
}
.nav-item:last-child {
  margin-right: 0;
}

.nav-link {
  text-decoration: none;
  color: var(--blue);
  font-size: 0.9rem;
  transition: all 0.3s ease;
}

.nav-link:hover {
  color: var(--dark-blue);
  padding-bottom: 10px;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-image: linear-gradient(90deg, var(--lime) 0%, var(--cyan) 100%) 1;
}

.nav-btn {
  color: var(--white);
  background: linear-gradient(90deg, var(--lime) 0%, var(--cyan) 100%);
  border: none;
  padding: 10px 20px;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-btn:hover {
  opacity: 0.6;
}

.mobile-nav {
  display: none;
}

@media screen and (max-width: 650px) {
  .mobile-nav {
    display: initial;
  }
  .close {
    display: none;
  }
  .burger.open {
    display: none;
  }
  .close.open {
    display: block;
  }
  .nav-items {
    background-color: var(--white);
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    position: absolute;
    top: 15vh;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
  }
  .nav-items.open {
    visibility: initial;
    opacity: 1;
  }
  .nav-item {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .nav-item:last-child {
    margin-bottom: 0;
  }
  .nav-link {
    color: var(--dark-blue);
    font-size: 1rem;
  }
  .nav-btn {
    display: none;
  }
}
